/* ========================================================== */
/* News List Item                                             */
/* ========================================================== */

.news-list-item {
  border-radius: 3px;
  display: flex;
  font-size: 0.9rem;
  line-height: 2.2;
  min-width: 528px;
  overflow: hidden;
  padding-bottom: 1px;
  width: 100%;
}

@media (max-width: 1200px) { 
  .news-list-item{
    display: block;
    padding-bottom: 15px;
  }
}

@media (max-width: 768px) { 
  .news-list-item {
    width: 96vw;
    padding-bottom: 2vw;
    min-width: unset;
  }
}

.news-list-item__container-a {
  display: flex;
  align-items: center;
  padding: 1px 0px 0px 0px;
  background-color: var(--nli-container-a-bg-color);
}

@media (max-width: 1200px) { 
  .news-list-item__container-a {
    padding: 5px 0px 5px 0px;
  }
}

@media (max-width: 768px) {
  .news-list-item__container-a {
    font-size: 0.8rem;
  }
}

.news-list-item__container-b {
  width: inherit;
  padding: 1px 10px 0px 10px;
  background-color: var(--nli-container-b-bg-color);
  font-size: 1.1rem;
  white-space: nowrap;
  overflow-x: hidden;
  overflow: hidden;
  text-overflow: ellipsis;

}

@media (max-width: 1200px) { 
  .news-list-item__container-b {
    padding: 5px 10px 4px 20px;
    white-space: unset;
    line-height: 2.0rem;
  }
}

@media (max-width: 768px) {
  .news-list-item__container-b {
    white-space: unset;
    padding: 6px 8px 6px 8px;
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

.news-list-item__time {
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
  padding-left: 20px;
  color: var(--nli-time-text-color);
}

@media (max-width: 768px) {
  .news-list-item__time {
    padding-left: 8px;
    min-width: 100px;
  }
}

.news-list-item__site {
  display: inline-block;
  min-width: 200px;
  max-width: 200px;
  padding-left: 10px;
  color: var(--nli-site-text-color);
}

@media (max-width: 768px) {
  .news-list-item__site {
    padding-left: 0px;
    min-width: 155px;
    max-width: 165px;
  }
}

.news-list-item__link {
  height: 100%;
  padding: 6px 0;
  color: var(--nli-link-color);
  text-decoration: none;
}

@media (max-width: 768px) {
  .news-list-item__link {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

.news-list-item__link:hover {
  color: var(--nli-link-color-hover);
  text-decoration: underline;
}

.news-list-item__link:visited {
  color: var(--nli-link-color-visited);
  text-decoration: underline;
}

.news-list-item__btns-container {
  display: inline-block;
  width: 100%;
  min-width: 215px;
  padding: 0 10px 0px 0px;
  text-align: right;
}

@media (max-width: 768px) {
  .news-list-item__btns-container {
    min-width: 80px;
    padding-right: 4px;
  }
}

.news-list-item__btn {
  display: inline-block;
  position: relative;
  margin: 0 3px 0 6px;
  padding: 4px 12px;
  top: -1px;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1rem;
  text-decoration: none;	
  border-radius: 3px;
}

.news-list-item__btn.save {
  background-color: var(--default-button-bg-color);
  color: var(--default-button-text-color);
  border: solid 1px var(--default-button-border-color);
}

.news-list-item__btn.save::before {
  content: 'SAVE';
}

@media (max-width: 768px) {
  .news-list-item__btn.save::before {
    content: "\f004";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
  }
}

.news-list-item__btn.save:hover {
  background-color: var(--sucess-color);
  color: var(--white-color);
  border: solid 1px var(--sucess-color);
}

.news-list-item__btn.delete {
  background-color: var(--default-button-bg-color);
  color: var(--default-button-text-color);
  border: solid 1px var(--default-button-border-color);
}

@media (max-width: 768px) {
  .news-list-item__btn.delete {
    margin-left: 3px;
  }
}

.news-list-item__btn.delete::before {
  content: 'DELETE';
}

@media (max-width: 768px) {
  .news-list-item__btn.delete::before {
    content: "\f1f8";
    font-family: "Font Awesome 6 Free";
    /* font-size: 0.85rem; */
    font-weight: 900;
  }
}

.news-list-item__btn.delete:hover {
  background-color: var(--danger-color);
  color: var(--white-color);
  border: solid 1px var(--danger-color);
}


