/* ========================================================== */
/* Project Common: Main Information                           */
/* ========================================================== */

/* Used fonts:          Open Sans, Lato, Roboto               */
/* Used breakpoints:    768px, 1200px                         */

/* ========================================================== */
/* Project Common: Variables For Themes                       */
/* ========================================================== */

:root {
  /* same for all themes */

  --login-page-bg-color: #eeeeee;

  --sucess-color: #198754;
  --danger-color: #dc3545;
  --white-color: #fff;

  /* different for all themes */

  --default-text-color: unset;
  --default-bg-color: unset;

  --header-nav-item-text-color: unset;
  --header-nav-item-text-color-hover: unset;
  --header-nav-item-border-color: unset;

  --main-section-top-shadow-color: unset;
  --main-section-bg-color-or-image: unset;

  --nli-container-a-bg-color: unset;
  --nli-container-b-bg-color: unset;

  --nli-site-text-color: unset;
  --nli-time-text-color: unset;
	
  --nli-link-color: unset;
  --nli-link-color-hover: unset;
  --nli-link-color-visited: unset;

  --default-button-text-color: unset;
  --default-button-bg-color: unset;
  --default-button-border-color: unset;

  --checkbox-mark-image: unset;
  --checkbox-bg-color: unset;
  --checkbox-border-color: unset;
  --checkbox-outline-color: unset;

  --input-field-bg-color: unset;
  --input-field-border-color: unset;

  --footer-button-text-color:unset;
}

/* ========================================================== */
/* Project Common: Themes                                     */
/* ========================================================== */

[data-theme="default"] {
  --default-text-color: #a0a8ac;
  --default-bg-color: #282e33;

  --header-nav-item-text-color: #a0a8ac;
  --header-nav-item-text-color-hover: #fff;
  --header-nav-item-border-color: #3d444b;

  --main-section-top-shadow-color: #000;
  --main-section-bg-color-or-image: #192024;

  --nli-container-a-bg-color: #232e33;
  --nli-container-b-bg-color: #263238;

  --nli-site-text-color: #d38871;
  --nli-time-text-color: #c778a5;

  --nli-link-color: rgba(158, 174, 207, 0.824);
  --nli-link-color-hover: #73dc73;
  --nli-link-color-visited: #3e515b;

  --default-button-text-color: #8da885;
  --default-button-bg-color: rgba(42, 57, 56, 0.467);
  --default-button-border-color: rgba(141, 168, 133, 0.267);

  --checkbox-mark-image: url('/img/checkbox-mark-black.svg');
  --checkbox-bg-color: #706D70;
  --checkbox-border-color: transparent;
  --checkbox-outline-color: rgba(255, 255, 255, 0.5);

  --input-field-bg-color: #f0eeeb;
  --input-field-border-color: #f0eeeb;

  --footer-button-text-color: #a0a8ac;
}

[data-theme="alpha"] {
  --default-text-color: #545454;
  --default-bg-color: #c7d0d8;

  --header-nav-item-text-color: #545454;
  --header-nav-item-text-color-hover: #000;
  --header-nav-item-border-color: #545454;
	
  --main-section-top-shadow-color: #000;
  --main-section-bg-color-or-image: linear-gradient(to right, #D98FAA, #B58AC0, #5C9BCF);

  --nli-container-a-bg-color: rgba(255, 255, 255, 0.333);
  --nli-container-b-bg-color: rgba(255, 255, 255, 0.533);

  --nli-site-text-color: rgba(130, 36, 36, 0.902);
  --nli-time-text-color: #952263;

  --nli-link-color: #333;
  --nli-link-color-hover: #333; 
  --nli-link-color-visited: #968298;

  --default-button-text-color: #333;
  --default-button-bg-color: rgba(216, 199, 211, 0.5);
  --default-button-border-color: rgba(255, 255, 255, 0.333);

  --checkbox-mark-image: url('/img/checkbox-mark-black.svg');
  --checkbox-bg-color: rgba(255, 255, 255, 0.533);
  --checkbox-border-color: transparent;
  --checkbox-outline-color: rgba(255, 255, 255, 0.667);

  --input-field-bg-color: rgba(255, 255, 255, 0.729);
  --input-field-border-color: rgba(255, 255, 255, 0.729);

  --footer-button-text-color: #222;
}

[data-theme="beta"] {
  --default-text-color: #a0a8ac;
  --default-bg-color: #2c3034;

  --header-nav-item-text-color: #a0a8ac;
  --header-nav-item-text-color-hover: #fff;
  --header-nav-item-border-color: #3d444b;
	
  --main-section-top-shadow-color: #000;
  --main-section-bg-color-or-image: url('/img/background-pattern-01.jpg');
	
  --nli-container-a-bg-color: rgba(155, 155, 155, 0.737);
  --nli-container-b-bg-color: rgba(204, 204, 204, 0.722);

  --nli-site-text-color: #000;
  --nli-time-text-color: #000;

  --nli-link-color: #000;
  --nli-link-color-hover: #000;
  --nli-link-color-visited: #555;

  --default-button-text-color: #b3b3b3;
  --default-button-bg-color: rgba(42, 57, 56, 0.467);
  --default-button-border-color: rgba(255, 255, 255, 0.333);

  --checkbox-mark-image: url('/img/checkbox-mark-black.svg');
  --checkbox-bg-color: #a0a8ac;
  --checkbox-border-color: transparent;
  --checkbox-outline-color: rgba(255, 255, 255, 0.467);

  --input-field-bg-color: #ccc;
  --input-field-border-color: #ccc;

  --footer-button-text-color: #a0a8ac;
}

[data-theme="delta"] {
  --default-text-color: #9aa2a7;
  --default-bg-color: #1e2327;

  --header-nav-item-text-color: #a0a8ac;
  --header-nav-item-text-color-hover: #fff;
  --header-nav-item-border-color: #3d444b;

  --main-section-top-shadow-color: #000;
  --main-section-bg-color-or-image: #192024;

  --nli-container-a-bg-color: #23282d;
  --nli-container-b-bg-color: #282e34;

  --nli-site-text-color: #d38871;
  --nli-time-text-color: #c778a5;

  --nli-link-color: rgba(158, 174, 207, 0.824);
  --nli-link-color-hover: #73dc73;
  --nli-link-color-visited: #3e515b;

  --default-button-text-color: #8da885;
  --default-button-bg-color: rgba(42, 57, 56, 0.467);
  --default-button-border-color: rgba(141, 168, 133, 0.267);

  --checkbox-mark-image: url('/img/checkbox-mark-black.svg');
  --checkbox-bg-color: #706D70;
  --checkbox-border-color: transparent;
  --checkbox-outline-color: rgba(255, 255, 255, 0.5);

  --input-field-bg-color: #f0eeeb;
  --input-field-border-color: #f0eeeb;

  --footer-button-text-color: #9aa2a7;
}

[data-theme="sigma"] {
  --default-text-color: #000;
  --default-bg-color: #e6d4c5;

  --header-nav-item-text-color: #000;
  --header-nav-item-text-color-hover: #000;
  --header-nav-item-border-color: #000;
	
  --main-section-top-shadow-color: #000;
  --main-section-bg-color-or-image: #c7baae;

  --nli-container-a-bg-color: #d8c6b8;
  --nli-container-b-bg-color: #f1e3d4;

  --nli-site-text-color: #000;
  --nli-time-text-color: #000;

  --nli-link-color: #000;
  --nli-link-color-hover: #000;
  --nli-link-color-visited: #ab9a8b;

  --default-button-text-color: #000;
  --default-button-bg-color: #e2cfc2;
  --default-button-border-color: #f1e3d4;

  --checkbox-mark-image: url('/img/checkbox-mark-black.svg');
  --checkbox-bg-color: #e2cfc2;
  --checkbox-border-color: transparent;
  --checkbox-outline-color: #f1dbcc;

  --input-field-bg-color: #f0eeeb;
  --input-field-border-color: #f0eeeb;

  --footer-button-text-color: #000;
}

/* ========================================================== */
/* Project Common: Normalizing                                */
/* ========================================================== */

*,
*::after,
*::before {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

html,
body {
  background: var(--default-bg-color);
  color: var(--default-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
  
  /* prevents flashing when touching input fields in safari */
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

#root,
.theme-container {
  height: inherit;
  min-height: 100%;
}

/* ========================================================== */
/* Project Common: Custom Scrollbar                           */
/* ========================================================== */

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 0;
}
body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-track,
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background-color: rgb(128, 128, 128);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(170, 170, 170);
}
body::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:active {
  background-color: rgb(210, 210, 210);
}
