/* ========================================================== */
/* App Settings Item                                          */
/* ========================================================== */

.app-settings-item {
  display: block;
  position: relative;
  text-align: left;
  margin: 0;
  margin-left: 10px;
  color: inherit;
  background-color: transparent;
  border: 0px;
  color: #000;
}

.app-settings-item:hover {
  background-color: #c62d2d;
  color: #fff;
}