/* ========================================================== */
/* App Settings                                               */
/* ========================================================== */

.app-settings__overlay {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  /* background: #00000050; */
}
 
.app-settings__content {
  /* position: relative; */
  position: fixed;
  z-index: 100;
  max-width: 500px;
  min-width: 100px;
  max-height: 70vh;
  height: auto;
  margin: 0 auto;
  margin-left: 1350px;
  margin-top: 450px;
  padding: 30px;
  /* border: 1px solid #999; */
  border: 1px solid #000;
  border-radius: 4px;
  right: 10px;
  bottom: 40px;
  background: #fff;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  text-align: left;
}

.app-settings__close-btn {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 10px;
  top: 10px;
  padding-top: 6px;
  color: #fff;
  background: #c62d2d;
  font-size: 26px;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 0;
}

.app-settings__section {
  display: block;
}

.app-settings__section-title {
  font-size: inherit;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.app-settings__section-list {
  list-style: none;
  padding: 0;
}

