/* ========================================================== */
/* Main Section                                               */
/* ========================================================== */

.main-wrapper {
  min-height: 100%;
  padding: 70px 0 65px 0;	/* bottom 65px is best fit  */
  color: var(--default-text-color);
  background: var(--main-section-bg-color-or-image);
  background-repeat: repeat;
}

@media (max-width: 768px) {
  .main-wrapper {
    padding-top: 55px;
  }
}

.main-content {
  padding: 0 5% 0 5%;
  font-size: 1rem;
  line-height: 2.5;
  text-align: left;
}

@media (max-width: 768px) {
  .main-content {
    padding: 0 2% 0 2%;
  }
}

