/* ========================================================== */
/* Header: Navigation Section & Bootstrap Modifications       */
/* ========================================================== */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.container-fluid {
  padding-right: 0;
  box-shadow: 0 -80px 30px 65px var(--main-section-top-shadow-color);
}

.navbar {
  padding: 0;
  background-color: var(--default-bg-color) !important;
}

.navbar-toggler.collapsed,
.navbar-toggler {
  margin: 5px 15px 5px 15px !important;
}

.navbar-toggler-icon {
  width: 1.3em;
  height: 1.3em;
}

.navbar-brand {
  color: var(--default-text-color) !important;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.nav-item {
  border-left: 2px var(--header-nav-item-border-color) dotted;
}

@media (max-width: 768px) {
  .nav-item {
    border: 0px
  }
}

.nav-link {
  padding: 8px 25px !important;
  color: var(--header-nav-item-text-color) !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .nav-link {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 1.16rem;
  }
}

.nav-link:hover {
  color: var(--header-nav-item-text-color-hover) !important;
}

@media (max-width: 768px) {  
  .navbar-collapse.collapse.show {
    padding-bottom: 20px;
  }
}